body	{
	background-color: #f7ebad;
	font-family: Quicksand, sans serif;
}

@font-face	{
	font-family: CenturyGothic;
	src: url(Images/century-gothic.ttf);
}

.page-head	{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #f7ebad;
	opacity: 50%;
}

#head-logo	{
	float: left;
	height: 100px;
}

.head-co-name	{
	top: 0;
	text-align:	center;
	color: #2e2a64;
	font-size: 48px;
	font-family: CenturyGothic, sans-serif;
	font-weight: bolder;
	padding-top: 0;
	margin: 0;
	top: 0;
}

.head-co-name-text 	{
	padding: 0;
	margin:	20px;
}

.head-nav	{
	float:	right;
	width: 130px;
	color: #2e2a64;
	margin: 0px 0 10px 20px;
}	

.menu-box	{
	height: 100px;
}

#menu-button	{
	width: 60px;
	text-align: center;
	font-weight: bolder;
	padding: 10px;
	margin: 30px;
	background-color: #f69f48;
}

#menu-pulldown	{
	position: absolute;
	top: 30px;
	right: 20px;
	width: 140px;
	height: 190px;
	border: 4px inset #f7c19d;
	background-color: #f69f48;
	visibility: hidden;
}

.nav-menu	{
	width: 100%;
	margin-left: -28%;
/*	margin: 10px 0 0 0;*/
	text-align: center;
/*	display: flex;
	justify-content: center;*/
}

.nav-menu-item	{
	list-style-type: none;
	margin-top: 15px;
	font-weight: bold;
}

.nav-menu-link	{
	text-decoration: none;
}

#login-window	{
	width: 400px;
	height: 160px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -200px;
	background-color: #f69f48;
	border: 6px inset #f7c19d;
	visibility: hidden;
}

#account-window	{
	width: 400px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -200px;
	background-color: #f69f48;
	border: 6px inset #f7c19d;
	visibility: hidden;
}

.window-title	{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 0 20px;
}

.entry	{
	width: 100%;
	margin: 10px auto;
}

.input-bar 	{
	display: block;
	margin: 10px auto;
	width: 250px;	
}

.input-bar-short	{
	display: inline;
	margin-left: 72px;
	width: 115px;
}

.input-bar-short.right	{
	margin-left: 12px;
}

#checkOrX	{
	position: relative;
	top: 3px;
	left: 5px;
	display: inline;
	width: 20px;
	height: 20px;
	visibility: hidden;
}

.buttons-left	{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.buttons-right	{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.hero-image	{
	background-image: url(Images/skyline.jpg);
	background-position: center;
	background-size: 100%;
	width: 100%;
	height: 400px;
	background-color: #c1b059;
	margin: 80px 0 10px;
}

.content-main	{
	float: left;
	width: 70%;
	border-right: 1px double #2e2a64;
	margin:	0;
}

.sidebar	{
	float: right;
	width: 26%;
	height: 800px;
	overflow: auto;
	padding: 0 10px;
	/*border: 1px solid black;*/
	margin:	0;
}

.sidebar.more	{
	height: 100px;
}

.content-head	{
	width: 90%;
	margin: 0 auto;
	/*padding: 0 60px;*/
}

h1	{
	text-align: left;
	color: #2e2a64;
	margin: 20px 0;
}

h2	{
	text-align: left;
	color: #2e2a64;
	margin: 20px 0;
}

.content-box	{
	width: 50%;
	height: 100%;
	/*padding: 10%;*/
	/*border: 1px solid black;*/
	margin:	0;
}

.content-box:nth-of-type(odd)	{
	float: left;
	clear: left;
}

.content-box:nth-of-type(even)	{
	float: right;
	clear: none;
}

.content-box.top 	{
	width: 100%;
	height: 100%;
}

h3	{
	text-align: left;
	color: #2e2a64;
	margin-left: 10%;
}	

.content-image	{
	width: 80%;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}

.content-image.top 	{
	width: 90%;
}

.image-file	{
	width:	100%;
}

.content-desc	{
	width: 80%;
	margin: 20px auto;
}

.content-desc.top 	{
	width: 90%;
}

#sidebar-menu	{
	width: 80%;
	font-size: 16px;
}

.sidebar-item	{}

h4	{
	margin-bottom: 0;
	color: #2e2a64;
}
.sidebar-link	{
	text-decoration: none;
}

.sidebar-text {
	font-size: 14px;
	margin-top: 0;
}
