body	{
	background-color: #f7ebad;
	font-family: Quicksand, sans serif;
}

@font-face	{
	font-family: CenturyGothic;
	src: url(Images/century-gothic.ttf);
}

.page-head	{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #f7ebad;
	opacity: 50%;
}

#head-logo	{
	float: left;
	height: 100px;
}

.head-co-name	{
	top: 0;
	text-align:	center;
	color: #2e2a64;
	font-size: 48px;
	font-family: CenturyGothic, sans-serif;
	font-weight: bolder;
	padding-top: 0;
	margin: 0;
	top: 0;
}

.head-co-name-text 	{
	padding: 0;
	margin:	20px;
}

.head-nav	{
	float:	right;
	width: 130px;
	margin: 0px 0 10px 20px;
}	

.menu-box	{
	height: 100px;
}

#menu-button	{
	width: 60px;
	text-align: center;
	font-weight: bolder;
	padding: 10px;
	margin: 30px;
	background-color: #f69f48;
}

#menu-pulldown	{
	position: absolute;
	top: 30px;
	right: 20px;
	width: 150px;
	height: 190px;
	border: 4px inset #f7c19d;
	background-color: #f69f48;
	visibility: hidden;
}

.nav-menu	{
	width: 100%;
	margin-left: -35px;
/*	margin: 10px 0 0 0;*/
	text-align: center;
/*	display: flex;
	justify-content: center;*/
}

.nav-menu-item	{
	list-style-type: none;
	margin-top: 15px;
	font-weight: bold;
}

.nav-menu-link	{
	text-decoration: none;
}

#login-window	{
	width: 400px;
	height: 160px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -200px;
	background-color: #f69f48;
	border: 6px inset #f7c19d;
	visibility: hidden;
}

#account-window	{
	width: 400px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -200px;
	background-color: #f69f48;
	border: 6px inset #f7c19d;
	visibility: hidden;
}

.window-title	{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 0 20px;
}

.entry	{
	width: 100%;
	margin: 10px auto;
}

.input-bar 	{
	display: block;
	margin: 10px auto;
	width: 250px;	
}

.input-bar-short	{
	display: inline;
	margin-left: 72px;
	width: 115px;
}

.input-bar-short.right	{
	margin-left: 12px;
}

#checkOrX	{
	position: relative;
	top: 3px;
	left: 5px;
	display: inline;
	width: 20px;
	height: 20px;
	visibility: hidden;
}

.buttons-left	{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.buttons-right	{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.hero-image	{
	background-image: url(Images/skyline.jpg);
	background-position: center;
	background-size: 100%;
	width: 100%;
	height: 400px;
	background-color: #c1b059;
	margin-top: 80px	;
}

h1	{
	text-align: center;
}

h2	{
	margin: 0 100px;
}

.content-box	{
	float: left;
	clear: right;
	width: 40%;
	height: 400px;
	margin:	0 40px;
}

.contect-box:nth-of-type(2)	{
	float: right;
	clear: none;
}

h3	{
	text-align: center;
}	

.content-image	{
	width: 400px;
	height: 200px;
	margin: 0 auto;
	background-color: #97852c;
}

.content-desc	{
	margin: 20px 80px;
}	